<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yq.mapper.CityMapper">
	<resultMap type="City" id="rm">
		<id column="cid" property="cid"/>
		<result column="cname" property="cname"/>
		<collection property="users" ofType="User" column="cid" resultMap="com.yq.mapper.UserMapper.rm"/>
	</resultMap>
	<select id="getCity" parameterType="int" resultMap="rm">
	select * from user_info u,city_info c where u.cid=c.cid and c.cid=#{cid}
	</select>
	<insert id="addCity" parameterType="City">
	insert into city_info values(0,#{cname})
	</insert>
	<update id="updateCity" parameterType="City">
	update city_info set cname=#{cname} where cid=#{cid}	
	</update>
	<delete id="delCity" parameterType="int">
	delete from city_info where cid=#{cid}
	</delete>
</mapper>